VITE_DISABLE_AUTH=false
VITE_FIREBASE_API_KEY=AIzaSyB_VWfoiR2ocDOHuFw-IiF9_ovIhKoJnt4
VITE_FIREBASE_AUTH_DOMAIN=amonzi-96721.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=amonzi-96721
VITE_FIREBASE_STORAGE_BUCKET=amonzi-96721.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=213348801535
VITE_FIREBASE_APP_ID=1:213348801535:web:c732b067c40ed5237065ca
VITE_FIREBASE_MEASUREMENT_ID=G-17VMJN8BFZ
